.signup-container {
  text-align: center;
}

.signup-content {
  background: #3f3f3f;
  box-shadow: 0 1px 11px rgba(129, 129, 129, 0.27);
  border-radius: 9px;
  width: 500px;
  display: inline-block;
  margin-top: 70px;
  margin-right: 650px;
  vertical-align: middle;
  position: relative;
  padding: 50px;
}


.social-btn {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
}

.social-btn img {
  height: 32px;
  float: left;
  margin-top: -2px;
}

.social-btn.google {
  margin-top: -2px;
}

.social-btn.facebook img {
  height: 24px;
  margin-left: 3px;
}

.social-btn.github img {
  height: 24px;
  margin-left: 3px;
}

.login-link {
  color: rgba(236, 236, 236, 0.65);
  font-size: 14px;
}

.signup-title {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 30px;
  color: rgba(249, 249, 249, 0.65);
}


